h1,p{
    text-align: center;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  /* Center and scale the image nicely */
  background-size: cover;
  backdrop-filter: blur(5px);
  color: white;
}

.italise{
  font-style: italic;
  font-size: 20px;
}

fieldset {
  border: none;
  background-color: #3b3b4f;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;
}

label {
  display: block;
  margin: 0.5rem 0;
  padding-bottom: 1em;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

label[id="radio"]{
  padding-bottom: 0;
}

label[id="checkbox"]{
  padding-bottom: 0;
}

input[type="submit"] {
  height: 2em;
  font-size: 1.1rem;
  background-color: #00FF00;
  min-width: 300px;
  color:white;
}